<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/studystride.png" type="image/png" sizes="16x16">
    <title>Studystride Badge Earned!</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="<%= text %>" name="description" >
    <meta content="Studystride Badge Earned!" name="keywords" >
    <meta content="Studystride" name="author" >
    <meta property="og:site_name" content="Studystride">
    <meta property="og:title" content="Studystride Badge Earned!">
    <meta property="og:description" content="<%= text %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/studystride.png" alt="Studystride Badge">
    <meta property="og:locale" content="en_US">
    <link rel="stylesheet" type="text/css" href="/assets/badge.css">
</head>
<body>
    <header>
        <a href=""><img src="/assets/studystride.png" alt="Studystride Logo"></a>
        <a href="">Studystride</a>
    </header>
    <main>
        <section>
            <img class="badgeIcon" src="/assets/studystride-badge-transparent.png" alt="Studystride Badge">
            <h1>Studystride Badge Earned!</h1>
            <p><%= text %></p>
            <p>Date Earned: <%= dateEarned %></p>
            <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=study-stride.com/badge/<%= id %>" target="_blank">Share on Facebook</a>
        </section>
        <div class="icon-container">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
            <img src="/assets/studystride-badge-transparent.png" alt="Studystride badge">
        </div>
    </main>
</body>
</html>